.room1,
.room2 {
  width: 600px;
  background: #dcdcdc;
  justify-content: center;
  border-radius: 5px;
  padding: 20px 20px;
  margin: 20px 20px;
}
.room1 .tittlr1,
.room2 .tittlr1 {
  color: #000;
  margin: 0 0 20px;
}

.toolbox1, .toolbox1--toolbox2,
.toolbox2--toolbox2,
.toolbox2 {
  width: 500px;
  min-height: 100px;
  background: #c4c4c4;
  display: block;
  border-radius: 5px;
  padding: 20px 20px;
  margin: 0 0 20px;
}
.toolbox1--toolbox2,
.toolbox2--toolbox2 {
  background: #c8ceec;
}

.item {
  background: #4f4f4f;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  padding-top: 18px;
  margin: 20px 20px;
}

.btnmoveToolRoom,
.btnmoveToolToolbox,
.btnTooladdToolbox,
.btnTooladdRoom {
  padding: 10px 30px;
  border-radius: 3px;
  background: #13a570;
  border: none;
  font-weight: bold;
  color: #fff;
  margin-right: 16px;
  height: 40px;
}/*# sourceMappingURL=style.css.map */